<div class="container-fluid px-1 px-md-2 px-lg-4 py-5 mx-auto">
  <div class="row d-flex justify-content-center">
    <div class="col-xl-7 col-lg-8 col-md-9 col-sm-11">
      <div class="card border-0">
        <div class="row justify-content-center">
          <h3 class="mb-4">Credit Card Checkout</h3>
        </div>
        <div class="row">
          <div class="col-sm-7 border-line pb-3">
            <div class="form-group">
              <p class="text-secondary text-sm mb-0">Name on the card</p>
              <input type="text" placeholder="Name" size="15" required="required"/>
            </div>
            <div class="form-group">
              <p class="text-secondary text-sm mb-0">Card Number</p>
              <div class="row px-3">
                <input
                [(ngModel)]="cardNumber"
                type="number"
                placeholder="0000 0000 0000 0000"
                size="18"
                required="required"
                />
              </div>
            </div>
            <div class="form-group">
              <p class="text-secondary text-sm mb-0">Expiry date</p>
              <input
              [(ngModel)]="month"
                type="text"
                placeholder="MM"
                size="6"
                minlength="2"
                maxlength="2"
                required="required"
                routerLink="/payment/{{cardNumber}}"
              />
              <input
              [(ngModel)]="year"
                type="text"
                placeholder="YY"
                size="6"
                minlength="2"
                maxlength="2"
                required="required"
              />
              
            </div>
            <div class="form-group">
              <p class="text-secondary text-sm mb-0">CVV/CVC</p>
              <input
                type="password"
                placeholder="000"
                size="1"
                minlength="3"
                maxlength="3"
                required="required"
              />
            </div>
          </div>
          <div class="col-sm-5 text-sm-center justify-content-center pt-4 pb-4">
            <small class="text-sm text-secondary">Order number</small>
            <h5 class="mb-5">12345678</h5>
            <small class="text-sm text-secondary">Payment amount</small>
            <div class="row px-3 justify-content-sm-center">
              <h2>
                <span class="text-md font-weight-bold mr-2">$</span
                ><span class="text-danger">59.49</span>
              </h2>
            </div>
            <div>
              <div>
                <button type="submit" class=" btn btn-outline-danger text-center mt-4" (click)="toastrOptions()">
                  PAY
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
