<header class="p-3 bg-dark text-white">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 text-white">About</a></li>
      </ul>
      <div class="text-end" *ngIf="!user">
        <button
          type="button"
          class="btn btn-outline-light me-2"
          routerLink="/login"
        >
          Login
        </button>
        <button type="button" class="btn btn-warning" routerLink="/register">
          Sign-up
        </button>
      </div>
      <div *ngIf="user">
        <div class="flex-shrink-0 dropdown">
          <a
            href="#"
            class="d-block link-dark text-decoration-none dropdown-toggle"
            id="dropdownUser2"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://github.com/mdo.png"
              alt="mdo"
              width="32"
              height="32"
              class="rounded-circle"
            />
          </a>
          <ul
            class="dropdown-menu text-small shadow"
            aria-labelledby="dropdownUser2"
          >
            <li><button class="dropdown-item" routerLink="#">New project...</button></li>
            <li><button class="dropdown-item" routerLink="#">Settings</button></li>
            <li><button class="dropdown-item" routerLink="profile/{{ user.userId }}">Profile</button></li>
            <li><hr class="dropdown-divider" /></li>
            <li><button class="dropdown-item" routerLink="#">Sign out</button></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="b-example-divider"></div>
