<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoaded != false" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Car Id</th>
      <th>Brand Name</th>
      <th>Color Name</th>
      <th>Car Name</th>
      <th>Model Year</th>
      <th>Daily Price</th>
      <th>Car Name</th>
    </tr>
  </thead>
  <tbody>
    <tr
      (click)="setCurrentCar(car)"
      routerLink="/cars/cardetails/{{ car.carId }}"
      *ngFor="let car of cars"
      [class]="getCurrentCarClass(car)"
    >
      <td>{{ car.carId }}</td>
      <td>{{ car.brandName }}</td>
      <td>{{ car.colorName }}</td>
      <td>{{ car.carName }}</td>
      <td>{{ car.modelYear }}</td>
      <td>{{ car.dailyPrice }}</td>
      <td>{{ car.carName }}</td>
    </tr>
  </tbody>
</table>
