<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
<div class="container">
    <div class="row">
      <div class="mb-3 col-md-3">
        <input
          type="text"
          [(ngModel)]="filterTextCar"
          class="form-control"
          id="filterTextCar"
          placeholder="Search Cars"
        />
        <div *ngIf="filterTextCar.length > 2" class="alert alert-success">
          {{ filterTextCar }}
          </div>
      </div>
      <div class="col-md-3">
        <select [(ngModel)]="selectedBrand" class="form-select" aria-label="Default select example">
          <option *ngFor="let brand of brands" value="{{brand.brandId}}" >{{brand.name}}</option>
        </select>
      </div>
      <div class="col-md-3">
        <select [(ngModel)]="selectedColor" class="form-select" aria-label="Default select example">
          <option *ngFor="let color of colors" value="{{color.colorId}}">{{color.name}}</option>
        </select>
      </div>
      <div class="col-md-3" >
          <button 
          (click)="search(selectedBrand,selectedColor)" 
          class="btn btn-outline-success" type="submit">Search</button>
      </div>
    </div>
  </div>
<table *ngIf="dataLoaded != false" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Car Id</th>
      <th>Brand Name</th>
      <th>Color Name</th>
      <th>Car Name</th>
      <th>Model Year</th>
      <th>Daily Price</th>
      <th>Car Name</th>
    </tr>
  </thead>
  <tbody>
    <tr
      (click)="setCurrentCar(car)"
      routerLink="/cars/cardetails/{{ car.carId }} "
      *ngFor="let car of cars |carFilterPipe:filterTextCar"
      [class]="getCurrentCarClass(car)"
    >
      <td>{{ car.carId }}</td>
      <td>{{ car.brandName }}</td>
      <td>{{ car.colorName }}</td>
      <td>{{ car.carName }}</td>
      <td>{{ car.modelYear }}</td>
      <td>{{ car.dailyPrice }}</td>
      <td>{{ car.carName }}</td>
    </tr>
  </tbody>
</table>
