<div class="alert alert-danger" role="alert" *ngIf="!rentStatus">
  Sorry, the car has already been rented.
</div>
<div class="card">
  <div class="card-header text-center">
    <div class="card-body">
      <div
        id="carouselExampleControls"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div
          class="carousel-inner d-flex"
          style="height: 50vh; min-height: 20rem; max-height: 30rem"
        >
          <div
            *ngFor="let image of carImages; let index = index"
            [ngClass]="sliderItemActive(index)"
          >
            <img
              src="{{ imageUrl + image.imagePath }}"
              class=""
              style="height: 100%; width: 100%; object-fit: contain"
              alt="First slide"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <div class="row ml-0 mr-0">
          <div *ngIf="dataLoaded_carDetails != false">
            <table class="table table-bordered" *ngFor="let car of cars">
              <tbody>
                <tr>
                  <th>Brand</th>
                  <td>{{ car.brandName }}</td>
                </tr>
                <tr>
                  <th>Model</th>
                  <td>{{ car.carName }}</td>
                </tr>
                <tr>
                  <th>Color</th>
                  <td>{{ car.colorName }}</td>
                </tr>
                <tr>
                  <th>Model Year</th>
                  <td>{{ car.modelYear }}</td>
                </tr>
                <tr>
                  <th>Daily Price</th>
                  <td>{{ car.dailyPrice }}$</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <div class="form-group row">
          <label for="rentDate" class="col-form-label sizes text-secondary"
            >Pick up date</label
          >
          <input
            class="form-control text-secondary"
            type="date"
            id="rentDate"
            [(ngModel)]="rentDate"
          />
        </div>
        <div class="form-group row" *ngFor="let car of cars">
          <label for="returnDate" class="col-form-label sizes text-secondary"
            >Drop off date</label
          >

          <input
            class="form-control text-secondary"
            type="date"
            id="returnDate"
            [(ngModel)]="returnDate"
            routerLink="/cars/cardetails/{{ rentDate }}&{{ car.carId }} "
          />
        </div>

        <div class="form-group row">
          <small class="text-sm text-secondary">Payment amount</small>
          <h2>
            <span class="text-md font-weight-bold mr-2">$</span
            ><span class="text-danger">59.49</span>
          </h2>
        </div>
        <div class="d-grid gap-2" *ngIf="!rentStatus">
          <button type="button" class="btn btn-dark" (click)="toastrOptions()">
            Rent
          </button>
        </div>
        <div class="d-grid gap-2" *ngIf="rentStatus">
          <button
            *ngFor="let car of cars"
            routerLink="/rent/car/{{ car.carId }}"
            type="button"
            class="btn btn-success"
            (click)="toastrOptions()"
          >
            Rent
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
